/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Combo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Combo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
.contact{
    background-color: #1E1E1E;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Combo', cursive;
    padding-top: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
}
.hero--text{
    color: white;
    width: 100%;
    font-size: clamp(4rem,8vw,5.8rem);
    position: relative;
}
.hero--text span{
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 6px;
    width: 90%;
    background-color: #FFE34D;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.4s;
    max-width: 20vh;
}
.hero--text span:nth-of-type(2){
    left: 4rem;
    bottom: -70%;
    transition-delay: 0.3s;
}
.animation--holder{
    opacity: 0.7;
    right: 0;
    top: 55%;
    transform: translate(0%,-50%);
    position: absolute;
    width: clamp(20rem,50vw,35rem);
}
.form--holder{
    width: clamp(25rem,60vw,35rem);
    padding: 2rem;
    margin-top: 4.5em;
    /* background: #5c552d41; */
    border-radius: 8px;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.form--holder input{
    font-size: 115%;
    border: none;
    outline: none;
    padding: 10px 0;
    background: transparent;
    color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
    padding-left: 3px;
}
.form--holder textarea{
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0;
    border-bottom: 1px solid grey;
    resize: none;
    color: white;
    font-size: 105%;
    height: 9rem;
    padding-left: 3px;
}
.contact button{
    background: #FFE34D;
    padding: 1em 0;
    width: clamp(10rem,15vw,15rem);
    border: none;
    margin-top: 1em;
    font-weight: 700;
    font-size: 90%;
    color: #1E1E1E;
    border-radius: 5px;

}
.hero--text span.animateTop{
    width: 0%;
}
@media screen and (max-height: 674px){
    section{
        overflow-y: scroll;
    }
    .animation--holder{
        top: 100%;
    }
    ::-webkit-scrollbar{
        width: 0;
    }
}